.btn {
  width: 100%;
  padding: 12px;
  background-color: #1677ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0958d9;
}

.btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}