.products-page{
    padding:30px;
}

.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.page-header h2{
    color:#1f2937;
}

.add-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

.search-section{
    margin-bottom:20px;
}

.search-box{
    width:300px;
    padding:10px;
    border:1px solid #ddd;
    border-radius:6px;
}

.product-table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

.product-table th{
    background:#2563eb;
    color:white;
    padding:12px;
}

.product-table td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

.product-table button{
    margin:0 5px;
    padding:6px 12px;
}